/**
  先去前端调好样式再复制过来！
 */

/**
 * 添加按钮的样式
 */
/**
  Margin(外边距) - 清除边框外的区域，外边距是透明的。
  Border(边框) - 围绕在内边距和内容外的边框。
  Padding(内边距) - 清除内容周围的区域，内边距是透明的。
  Content(内容) - 盒子的内容，显示文本和图像。
  (可以用Margin-top来控制其上下左右)
  width 主元素的宽度
  heigt 主元素的宽度
  position:
        absolute可滑动的;
        fixed元素的位置相对于浏览器窗口是固定位置。即使窗口是滚动的它也不会移动：
        relative 相对定位元素的定位是相对其正常位置。
        absolute 绝对定位的元素的位置相对于最近的已定位父元素
  top定义了一个定位元素的上外边距边界与其包含块上边界之间的偏移。
  bottom定义了定位元素下外边距边界与其包含块下边界之间的偏移。
  left 定义了定位元素左外边距边界与其包含块左边界之间的偏移。
  right定义了定位元素右外边距边界与其包含块右边界之间的偏移。
  z-index 设置元素的堆叠顺序
 */
.van-search-index{
    position: fixed;
    width: 350px;
    top: 13px;
    right: 20px;
    z-index: 10;
}

.user_comment_list{
    position: absolute;
    top: 50px;
    left: 5px;
    width: 350px;
}


/*视频用户评论*/
.user_comment{
    position: fixed;
    bottom: 100px;
    left: 5px;
    width: 350px;
    z-index: 3;
}


/*视频用户图片*/
.video-user-image{
    position: fixed;
    bottom: 480px;
    width: 50px;
    right: 40px;
    height: 250px;
    border-radius: 40%;
    z-index: 10;
}

/*爱心评论 */
.video-like-icon{
    position: fixed;
    bottom: 380px;
    width: 50px;
    right: 40px;
    height: 50px;
    border-radius: 50%;
    z-index: 10;
}

/*评论按钮*/
.video-comment-icon{
    position: fixed;
    bottom: 320px;
    width: 50px;
    right: 40px;
    height: 50px;
    border-radius: 50%;
    z-index: 10;
}



.add-button{
    position: fixed;
    bottom: 60px;
    width: 50px;
    right: 40px;
    height: 50px;
    border-radius: 50%;
    z-index: 5;
}

/*下按钮*/
.next-video-button{
    position: fixed;
    bottom: 180px;
    width: 50px;
    right: 40px;
    height: 50px;
    border-radius: 50%;
    z-index: 10;
 }

/*上按钮*/
.last-video-button{
    position: fixed;
    bottom: 250px;
    width: 50px;
    right: 40px;
    height: 50px;
    border-radius: 50%;
    z-index: 10;
}

