/**
  先去前端调好样式再复制过来！
 */

/**
 * 添加按钮的样式
 */
.add-button{
    position: fixed;
    bottom: 60px;
    width: 50px;
    right: 12px;
    height: 50px;
    border-radius: 50%;
    z-index: 5;
}

.next-video-button{
    position: fixed;
    bottom: 180px;
    width: 50px;
    right: 20px;
    height: 50px;
    border-radius: 50%;
    z-index: 10;
 }

.last-video-button{
    position: fixed;
    bottom: 250px;
    width: 50px;
    right: 20px;
    height: 50px;
    border-radius: 50%;
    z-index: 10;
}